body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
main {
    padding:　20px;
}
.profile-img {
    display: block;
    margin: 0 auto 20px;
    width: 200px;
    border-radius: 50%;
}
.contact-form {
    max-width: 400px;
    margin: 0 auto;
}
.contact-form input[type="text"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.contact-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
